// COLORS
main = 	#33425b
mainHover = rgba(135, 116, 169, 0.42);
hover = darken(main, 50%)
mainLight = #3498db
sec  = #ecf0f1
lightGray = #aaaaaa
texts = #333333
colorcode = #615576
blackBase =  #2f2f33
neotree = #2f2f33
// Resolution
cut = 37.5rem